{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf"
}
